<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <main>
            <form class="login-form" action="/signup" method="POST" novalidate>
                <div>
                    <label for="fname">First Name</label>
                    <input 
                        type="text" 
                        name="fname" 
                        id="fname" 
                        value="<%= oldInput.fname %>">
                </div>
                <br>
                <div>
                    <label for="lname">Last Name</label>
                    <input 
                        type="text" 
                        name="lname" 
                        id="lname" 
                        value="<%= oldInput.lname %>">
                </div>
                <br>
                <div>
                    <label for="email">E-Mail</label>
                    <input 
                        type="email" 
                        name="email" 
                        id="email" 
                        value="<%= oldInput.email %>">
                </div>
                <br>
                <div>
                    <label for="role">Jop Title</label>
                    <input 
                        type="text" 
                        name="role" 
                        id="role" 
                        value="<%= oldInput.role %>">
                </div>
                <br>
                <div>
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        name="password" 
                        id="password" 
                        value="<%= oldInput.password %>">
                </div>
                <br>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input 
                        type="password" 
                        name="confirmPassword" 
                        id="confirmPassword" 
                        value="<%= oldInput.confirmPassword %>">
                </div>
                <br>
                <input type="hidden">
                <button class="btn" type="submit">Sign up</button>
            </form>
        </main>
    </body>
</html>